<a href="https://colab.research.google.com/github/Lizylun/MaterialTHC/blob/main/Clase6_THC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def mifunc(n):
 return lambda a : a * n

In [4]:
midoble = mifunc(2)

print(midoble(11))

22

In [5]:
def mifunc(n):
 return lambda a : a * n
midoble = mifunc(3)

print(midoble(11))

33

In [6]:
def mifunc(n):
  return lambda a : a * n

MiDoble = mifunc(2)
MiTriple = mifunc(3)

print(MiDoble(11))
print(MiTriple(11))

22
33

In [7]:
#Filtrar numeros pares
numeros = list(range(1,50))
num_pares = list(filter (lambda a : a % 2 == 0, numeros))
print(num_pares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [15]:
#Encriptar un Nombre
name = "lizbeth"
carac = ["%", "$", "#", "Â°", "@", "/"]
for letra in name:
 print(letra)

l
i
z
b
e
t
h

In [25]:
A = [[1,2,3], [4,5,6], [7,8,9]]
B = [[2,6,10], [4,7,11], [11,12,5]]
for i in range (len(A)):
  for j in range (len(A)):
     print(A[i][j]*B[i][j])

2
12
30
16
35
66
77
96
45