<a href="https://colab.research.google.com/github/Lizylun/MaterialTHC/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
    "year":2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
diccionario={'python':2.7,'zope':2.3,'plone':5.7}

l=[]
for i in diccionario.keys():
  l.append(diccionario[i])


print(l)

[2.7, 2.3, 5.7]

In [ ]:
import pandas as pd

# crear un diccionario con datos
datos = {

        'Nombre': ['Juan','Maria', 'Pedro','Luisa'],
        'Edad': [25, 28, 22, 30],
        'Ciudad':['Madrid','Barcelona', 'Valencia','Sevilla']
}

# crear un DataFrame a partir del diccionario
dataframe = pd.DataFrame(datos)

# Mostrar el Dataframe
print(dataframe)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  Maria    28  Barcelona
2  Pedro    22   Valencia
3  Luisa    30    Sevilla

In [ ]:
frutas = ('Mango','Sandia','Fresa')
for fruta in frutas:
   print(fruta)

Mango
Sandia
Fresa

In [ ]:
if 'manzana' in frutas:
   print('Si, la manzana esta en la tupla.')
else:
  print('No, la manzana no esta en la tupla')

No, la manzana no esta en la tupla

In [ ]:
def mi funcion ():
  print("Hola, te saludo desde la funcion")

In [ ]:
def mi_funcion_nueva(fname):
   print(" Hola " +fname+ " te saludo desde la funcion ")

mi_funcion_nueva("liz")

 Hola liz te saludo desde la funcion

In [ ]:
def mi_funcion(*kids):
    print(" El niño menor es " + kids [2])

mi_funcion("Emily", "Tomas", "Oscar", "Odai")

 El niño menor es Oscar

operaciones con matrices

In [ ]:
# Define dos vectores
V1 = [1, 3, 4, 5, 6]
V2 = [7, 8, 9, 10, 11]

def suma_vec(V1,V2):
  if len(V1) == len(V2):
   n = len(V1)
   c = []
   for i in range(n):
     c.append(V1[i]+V2[i])
   return c
resultado = suma_vec(V1,V2)
print(resultado)

[8, 11, 13, 15, 17]

producto punto

In [ ]:
A = [7,9]
B = [4,8]

def prod_punt(A,B)